.certificate-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(745px, 1fr));
    width: 100%;
    /* height: 800px; */
    padding: 70px 30px 20px 30px;
    gap: 20px;
    justify-items: center;
}

@media (max-width:1600px) {
    .certificate-box {
        grid-template-columns: repeat(auto-fill, minmax(545px, 1fr));
    }
}

@media (max-width:600px) {
    .certificate-box {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
